<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Chats</title>
<link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/stylesheets/style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
<header>
<nav class="navbar navbar-expand-lg bg-darkcyan">
<div class="container-fluid">
<h1 class="navbar-brand">S.M.O</h1>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
<ul class="navbar-nav">
<li class="nav-item">
<a class="nav-link active" aria-current="page" href="/menu-admin">Menu</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/meus-chamados">Chamados</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/minha-conta">Conta</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/chat">Chat</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Sair</a>
</li>
</ul>
</div>
</div>
</nav>
</header>
<main>
<h1 id="title2">Minhas Conversas</h1>
<section id="chat">
<div id="contatos">
<ul>
<li><a href="#">Pedrinho</a></li>
<li><a href="#">Neymar</a></li>
<li><a href="#">Casemiro</a></li>
<li><a href="#">Michael Jackson</a></li>
</ul>
</div>
<div id="conversa">
<span id="recebida">Oi</span>
<span id="enviada">Tudo Bem?</span>
<span id="recebida">Tudo e com você?</span>
<span id="enviada">Eu estou ótimo, obrigado por perguntar.</span>
<span id="enviada">E você?</span>
<span id="recebida">Eu estou bem também, obrigado.</span>
<span id="recebida">Gostaria de saber, você ainda ta solteiro?</span>
<span id="enviada">Estou sim, por quê?</span>
<span id="recebida">Ótimo, eu estava mostrando uma foto de você para umas amigas minhas, e elas adorariam te conhecer.</span>
<span id="enviada">Uau Neymar, você é demais!</span>
<span id="recebida">Posso passar seu contato para elas?</span>
<span id="enviada">Claro, mas qual o nome delas?</span>
<span id="recebida">Jade Pycon e Mel Maia. Logo logo chega mensagem delas</span>
</div>
</section>
</main>
</body>
</html>