<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Suporte T.I</title>
<link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/stylesheets/style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script type="module" src="/javascripts/forms.js"></script>
</head>
<body>
<header>
<nav class="navbar navbar-expand-lg bg-darkcyan">
<div class="container-fluid">
<h1 class="navbar-brand">S.M.O</h1>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
<ul class="navbar-nav">
<li class="nav-item">
<a class="nav-link active" aria-current="page" href="/menu-admin">Menu</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/meus-chamados">Chamados</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/minha-conta">Conta</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/chat">Chat</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Sair</a>
</li>
</ul>
</div>
</div>
</nav>
</header>
<main class="formulario">
<h1 id="title2">Manutenção T.I</h1>
<section id="formulario">
<h1>Por favor, preencha os dados do seu problema</h1>
<form>
<label for="predio">Para começar, por favor nos diga, em que prédio você está?</label>
<select name="" id="predio" required>
<option value="Prédio Administrativo">Prédio Administrativo</option>
<option value="Biblioteca">Biblioteca</option>
<option value="Anexo">Anexo</option>
<option value="Bloco A">Bloco A</option>
<option value="Bloco B">Bloco B</option>
<option value="Bloco C">Bloco C</option>
<option value="Auditório">Auditório</option>
<option value="" disabled selected>Selecione</option>
</select>
<label for="local">Qual local desse prédio?</label>
<select name="" id="local" required>
<option value="" selected disabled>Selecione</option>
<option value="Local teste">Local</option>
</select>
<label for="problema">Em que você precisa de ajuda?</label>
<select name="" id="problema" required>
<option value="Monitor">Monitor</option>
<option value="Teclado">Teclado</option>
<option value="Mouse">Mouse</option>
<option value="Microfone">Microfone</option>
<option value="Aúdio">Aúdio</option>
<option value="Projetor">Projetor</option>
<option value="Televisão">Televisão</option>
<option value="Computador">Computador</option>
<option value="" disabled selected>Selecione</option>
</select>
<label for="prioridade">Se pudesse classificar o nível da emergência, qual seria?</label>
<select name="" id="prioridade" required>
<option value="Alta">Alta</option>
<option value="Média">Média</option>
<option value="Baixa">Baixa</option>
<option value="" selected disabled>Selecione</option>
</select>
<label for="descricao">Caso queira, sinta-se a vontade para adicionar uma breve descrição do seu problema.</label>
<input type="text" name="" id="descricao" placeholder="Escreva aqui">
<label for="img">Caso queira, sinta-se a vontade para adicionar uma imagem.</label>
<input type="file" name="" id="img" accept="image/*">
<button type="button" id="buttonDTI">Solicitar Manutenção</button>
</form>
</section>
</main>
</body>
</html>