<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>S.M.O - Sistema de Manutenção e Ocorrências</title>
<link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon">
<link rel="manifest" href="/manifest.json">
<link rel="stylesheet" href="/stylesheets/index.css">
<script type="module" src="/javascripts/app.js"></script>
<script type="module" src="/javascripts/index.js"></script>
<script type="text/JavaScript" src="/javascripts/main.js"></script>
</head>
<body>
<header>
<nav>
<h1 id="title">S.M.O</h1>
<h3 id="subtitle">Sistema de Manutenção e Ocorrências</h3>
<ul>
<li><img class="logo" src="/images/etec.png" alt=""></li>
<li><img class="logo" src="/images/cps.png" alt=""></li>
<li><img class="logo" src="/images/sp.png" alt=""></li>
</ul>
</nav>
</header>
<main>
<div id="container">
<section id="login">
<h1>Entre por aqui.</h1>
<form action="" id="formlogin">
<input type="email" id="inemail" placeholder="Email" required>
<input type="password" id="inpass" placeholder="Senha" required>
<button type="button" id="btnentrar">Entrar</button>
</form>
</section>
<h1 id="or">Ou</h1>
<section id="register">
<h1>Primeira vez? Cadastre-se aqui.</h1>
<form action="" id="formregister">
<input type="email" id="upemail" placeholder="Email" required>
<input type="password" id="uppass" placeholder="Senha" required>
<input type="password" id="reuppass" placeholder="Confirmar Senha" required>
<button type="button" id="btncadastrar">Cadastrar</button>
</form>
</section>
</div>
</main>
<footer>
<p>Desenvolvido por:</p>
</footer>
</body>
</html>