<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Menu</title>
<link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/stylesheets/style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
<header>
<nav class="navbar navbar-expand-lg bg-darkcyan">
<div class="container-fluid">
<h1 class="navbar-brand">S.M.O</h1>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
<ul class="navbar-nav">
<li class="nav-item">
<a class="nav-link active" aria-current="page" href="/menu-usuario">Menu</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/meus-chamados">Chamados</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/minha-conta">Conta</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/chat">Chat</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Sair</a>
</li>
</ul>
</div>
</div>
</nav>
</header>
<main class="menu">
<section id="menu">
<a href="/caixa-entrada-dti">
<div>
<h1>Caixa de Entrada Departamento T.I</h1>
<img src="/images/dti4.png" alt="T.I">
</div>
</a>
<a href="/caixa-entrada-predial">
<div>
<h1>Caixa de Entrada Predial</h1>
<img src="/images/p2.png" alt="">
</div>
</a>
<a href="/caixa-entrada-ocorrencias">
<div>
<h1>Caixa de Entrada Ocorrências</h1>
<img src="/images/ocorrencias.png" alt="">
</div>
</a>
<a href="/formulario-dti">
<div>
<h1>Solicite Manutenção T.I</h1>
<img src="/images/dti1.png" alt="DTI">
<p>Solicite apoio técnico em problemas de informática, sejam computadores, periféricos, monitores, projetores, conexão a internet e outros.</p>
</div>
</a>
<a href="/formulario-predial">
<div>
<h1>Solicite Manutenção Predial</h1>
<img src="/images/p3.png" alt="Predial">
<p>Solicite a manutenção para o ambiente predial, que envolve problemas hidráulicos (encamento e vazamentos), elétricos ( fiações e energia), estrutural (rachaduras, pinturas etc) e limpeza.</p>
</div>
</a>
<a href="/formulario-ocorrencias">
<div>
<h1>Notifique uma Ocorrência</h1>
<img src="/images/ocorrencias.png" alt="Ocorrencia">
<p>Reporte casos de mal uso, vandalismo, objetos danificados e danos em geral, para a direção escolar.</p>
</div>
</a>
</section>
</main>
<footer>
<p>Etec da Zona Leste</p>
</footer>
<div class="popup" id="popup">
<div class="popup-content">
<div class="popup-title" id="popup-title">
<span class="close" id="close-button">&times;</span>
</div>
<div class="popup-text" id="popup-text"></div>
</div>
</div>
</body>
</html>